*{
    box-sizing: border-box;
}

.load{
    position: fixed;
    font-size: 40px;
    margin: auto 50%;
    top: 50%;
    z-index: 999;
    color: red;
    transition: all 1s ease-in-out;
}

body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    color: #d1d0d0;
    overflow-x: hidden;
    background: #25332e;
    overflow-y: scroll;
}

#overlay1{
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    transition: all 1s ease-in-out;
}

#overlay2{
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    transition: all 1s ease-in-out;
}

/* #bg-Img0{
    background-image: url('2109_the_card/img/photo-02.jpg');
}

#bg-Img1{
    background-image: url('2109_the_card/img/photo-03.jpg');
}

#bg-Img2{
    background-image: url('2109_the_card/img/photo-04.jpg');
}

#bg-Img3{
    background-image: url('2109_the_card/img/photo-05.jpg');
} */

.bgimage{
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    inset: 0px;
    z-index: -2;
}

.adress{
    width: 420px;
    height: 190px;
    background-color:rgba(0, 0, 0, 0.6);
    margin: 40px;
    padding-top: 20px;
}

.adress::after{
    content: attr(text);
    position: absolute;
    width: 420px;
    /* width: 200px; */    /* for tool-bar */
    /* height: 15px; */   /* for tool-bar */
    color: red;
    font-size: 30px;
    /* font-size: 10px; */          /* for tool-bar */
    background-color: rgba(221, 58, 58, 0.7);
    /* margin-left: 70px; */        /* for tool-bar */
    margin-top: 18px;
    text-align: center;
    font-family: cursive;
    display: none;
}
.adress:hover::after{
    display: block;
}

.adress h1{
    font-size: 3.6rem;
    font-weight: 200;
    margin-left: 40px;
    margin-top: 25px;
}

.adress p{
    color: #cdffd0;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 35px;
    margin-top: -30px;
}

.list{
    float: right;
    margin-top: -268px;
    margin-right: -7px;
    padding: 0px;
    padding-right: 2px;
    padding-top: 20px;
    width: 220px;
    height: 380px;
    /* background-color: rgba(0, 0, 0, 0.6); */
    transition: all .5s ease-in-out;
}

/* تكملة ال style => Menu Button => باقي ال style فى js */
#nav{
    margin-bottom: 15px;
    text-align: right;
    margin-right: 10px;
    border-inline: 2px solid red;
    border-radius: 3px;
    transition: all .4s ease-in-out;
}
#nav:hover{
    
}

#nav::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 20px;
    background-color: coral;
    margin-left: -12px;
    top: 42px;
}

#nav span{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 7px solid;
    border-color: coral transparent transparent transparent;
    top: 62px;
    right: 92px;
}

.list ul{
    margin-top: 70px;
    display: none;
    transition: display .4s ease-in-out;
}

.list ul li{
    list-style: none;
    width: 170px;
    height: 45px;
    background-color: rosybrown;
    margin-bottom: 10px;
    margin-right: 30px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: display .4s ease-in-out;
}

.list ul li:hover{
    color: brown;
}

.intro-head{
    float: right;
    margin-right: 60px;
    margin-top: 190px;
    font-size: 50px;
    color: white;
}

.introDiv{
    width: 570px;
    height: 210px;
    background-color:rgba(0, 0, 0, 0.6);
    float: right;
    margin-right: -560px;
    margin-top: 280px;
}

.introDiv p{
    margin: 30px;
}

.introDiv .p-one{

}
.introDiv .p-two{

}

.btMore{
    position: absolute;
    width: 150px;
    height: 55px;
    top: 780px;
    margin-left: 700px;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btMore:hover{
    color: coral;
}

.iq{
    position: absolute;
    margin-left: 80px;
    top: 880px;
}

.Copyright{
    position: absolute;
    top: 1030px;
    margin-left: 30px;
    font-size: 18px;
}

.Copyright a{
    color: white;
    font-family: 'Open Sans';
    color: #d1d0d0;
}

/* About Me */

#about-me{
    width: 400px;
    height: 450px;
    background-color:rgba(0, 0, 0, 0.6);
    float: right;
    margin-right: -130px;
    margin-top: 200px;
    padding: 40px 20px;
    display: none;
}

#about-me h2{
    color: #00ccfc;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 40px;
}

#about-me p{
    color: #c5c7c6;
    margin-bottom: 30px;
}

#about-me #about-next{
    width: 100px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
#about-me #about-next:hover{
    color: coral;
}

/***************** Work ******************/

.work-container{
    width: 100%;
    height: 360px;
    margin-top: 200px;
    display: none;
}

.work-container .img-ul{
    position: absolute;
    /* width: 70%; */
    width: 100%;
    height: 300px;
    /* margin-left: 15%; */
    margin-left: 230px;
    margin-right: 200px;
    /* overflow: hidden; */
}

.work-container .img-ul .divimage-work{
    position: relative;
    display: inline-block;
    width: 15%;
    height: 300px;
    margin-left: 10px;
    cursor: pointer;
    transform: translate3d(0, 0);
    transition: visibility .35s ease-in-out, transform .5s ease-in-out, display .5s ease-in-out;;
}

.work-container .img-ul .divimage-work figure{
    width: 100%;
    height: 100%;
    margin-left: 60px;
}

figure .imgWork{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    margin-left: -60px;
    margin-top: -20px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.caption-work{
  
}

.caption-work h2{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: -15px;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.caption-work h2 span{
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.caption-work p{
    position: absolute;
    width: 100%;
    height: 70px;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    background-color: coral;
    margin-top: 195px;
    margin-left: -60px;
    padding: 15px 10px;
    text-transform: none;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
}

.work-container .img-ul .divimage-work figure:hover .imgWork{
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}

.work-container .img-ul .divimage-work figure:hover h2{
    -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

.work-container .img-ul .divimage-work figure:hover p{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bt-img-transfare{
    position: absolute;
    margin: 20px 21%;
}

.bt-img-transfare li{
    width: 25px;
    height: 25px;
    background-color: orangered;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    padding-top: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.bt-img-transfare li:hover{
    background-color: purple;
}

/* .bt-img-transfare .checked{
    background-color: brown;
} */

.bt-img-transfare:first-child{
    background-color: brown;
}

.enlarged-image{
    /* position: absolute;
    margin-left: 50%;
    margin-bottom: 100px;
    border: 1px solid red;
    width: 250px;
    height: 500px; */
    /* display: none; */
}

.overlay-enlarged-image{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    transition: display 1s ease-in-out;
    display: none;
}

.div-enlarged-image{
    position: fixed;
    width: 350px;
    height: 450px;
    border: 1px solid red;
    margin: auto;
    margin-left: 250px;
    margin-top: -45%;
    display: none ;
}

.div-enlarged-image img{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(163, 162, 162);
    box-shadow: 3px 3px #cdffd0;
}

.overlay-enlarged-image span{
    position: absolute;
    margin-top: 25%;
    margin-left: 30px;
    font-size: 40px;
    cursor: pointer;
}

.overlay-enlarged-image .next{
    margin-left: 1240px;
}

.overlay-enlarged-image #close{
    position: absolute;
    margin-left: 810px;
    margin-top: 85px;
    color: white;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.overlay-enlarged-image #close:hover{
    color: coral;
}

.contact{
    display: none;
}

.form-contact{
    width: 380px;
    height: 400px;
    background-color: rgba(233, 233, 233, 0.9);
    margin-top: 180px;
    margin-left: 30px;
    padding: 70px 40px;
}

.form-contact .inputText{
    width: 95%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.form-contact .inputEmail{
    width: 95%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.form-contact .inputTextarea{
    width: 95%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

.form-contact .inputSub{
    display: block;
    margin-top: 0px;
    float: right;
    width: 80px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.form-contact .inputSub:hover{
    border-top: 1px solid black;
    color: brown;
}